
/* ============================================================
================== Responsive ==============================
========================================================= */

/* ความกว้างสูงสุด 1000 */
@media (max-width: 1000px) {
    .container-resume {
      margin: 10px;
      /* grid-template-columns: repeat(1, 1fr); */
    }
    .interest ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* ความกว้างสูงสุด 600 */
  @media (max-width: 600px) {
  
    .about .box 
    {
      flex-direction: column;
    }
    .about .box .year-compony 
    {
      margin-bottom: 5px;
    }
    .interest ul 
    {
      grid-template-columns: repeat(1, 1fr);
    }
    .skills .box
    {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  